*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.header a{
    
    margin-right: 20px;
    color: rgba(0, 0, 0, 87) ;
    font-size: 15px;
    text-decoration: inherit;
}

.header a:hover{
    text-decoration: underline;
}

.header_right{

display: flex;
align-items: center;
min-width: 13vw;
justify-content: space-between;
}
.header_right .header__apps{
    margin-right:10px ;
}

.mainBody{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;

}

.mainBody img{
    object-fit: contain;
    height: 100px;
}
.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightcyan;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.search_input input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}

.search_input .material-icons{
    color: gray;
}
.search_buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.search_buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
}


